<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crm sistema</title>
</head>
<body>
    <h1> Crm tizimga hush kelibsiz</h1>
    {{object_list}}
    
    {% for obj in object_list %}
    <h2>{{obj.id}}<h2>
    <h2>{{obj.order_dt}}</h2>
    <h2>{{obj.order_name}}</h2>
    <h2>{{obj.order_phone}}</h2>
      
    {% endfor %}
</body>
</html>